[Unit]
Description=Touchpad Gestures(with 3-finger drag performance improvements)
Documentation=https://github.com/ferstar/gestures

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment=DISPLAY=:0
Environment=HOME=$HOME
Type=simple
ExecStart=$HOME/.cargo/bin/gestures
Restart=never

[Install]
WantedBy=default.target
